@import "tailwindcss";

:root {
  --green-light: #c7dda3;
  --purple: #301f4b;
  --purple-light: #caa4cc;
  --purple-soft: #6d59a1;
  --red: #e73f40;
  --red-light: #f3a5a6;
  --white: #edeae7;
}

@layer base {
  html, body {
    height: 100%;
  }

  .font-dm {
    font-family: var(--font-dm-sans), "DM Sans", sans-serif;
  }
}